.upskill-uiux {
  .footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    grid-template-rows: 1fr;
  }


  .footer-learning {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  p {
    margin: 0;
  }

  .footer-heading {
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .foot-link {
    color: #fff !important;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-links {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
  }

  .copyright {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    padding: 20px 0 0 0;
  }

  .footer-learning {
    display: inline-flex;
    padding: 9px 16px 12px 35px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 37px;
    background: linear-gradient(87deg,
        rgba(73, 208, 67, 0.2) -0.56%,
        rgba(255, 185, 18, 0.2) 119.91%);
  }

  .r199 {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 74%;
    /* 22.2px */
    background: var(--Linear,
        linear-gradient(87deg, #49d043 -0.56%, #ffb912 119.91%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .r1000 {
    color: #bdbdbd;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 74%;
    text-decoration: line-through;
  }

  .per-month {
    color: rgba(255, 255, 255, 0.64);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 74%;
    /* 8.88px */
  }

  .footer-button {
    border-radius: 33.257px;
    background: linear-gradient(87deg, #49d043 -0.56%, #ffb912 119.91%);
    width: 95%;
    height: 42px;
    color: var(--Black, #00141b);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    /* text-align: left; */
    font-weight: 700;
    line-height: 160%;
    /* 22.4px */
  }

  .footer-learning {
    display: none;
  }
}

@media (width<780px) {
  .upskill-uiux {
    .footer-link {
      column-gap: 20px;
    }

    .foot-link {
      font-size: 18px;
    }
  }
}

@media (width<580px) {
  .upskill-uiux {
    .footer-learning {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
    }

    .footer-learning-bg {
      background-color: var(--bgMain);
      position: sticky;
      bottom: 0;
      z-index: 1000;
    }

    .copyright {
      font-size: 14px;
      opacity: 0.7;
    }

    .foot-link {
      font-size: 16px;
    }
  }
}

@media (width<580px) {
  .upskill-uiux {
    .footer-learning {
      padding: 12px 12px 12px 12px;
      gap: 12px;
    }
  }
}