.navbar {
    padding: 25px 44px 0 44px;
}

.nav-div {
    display: inline-flex;
    padding: 16px 86px;
    border-radius: 87px;
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(8.550000190734863px);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}

.nav-logo img {
    height: 100%;
}

.nav-logo {
    height: 100%;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    height: 100%;
}

.nav-r-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.nav-link {
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    /* 19.2px */
}

.nav-link-active {
    background: var(--linear-gradient-upskill, linear-gradient(85deg, #49D043 -2.07%, #FFB912 94.33%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.nav-r-right {
    gap: 16px;
}

.nav-register-btn {
    width: 172px;
    height: 100%;
    border-radius: 41px;
    border: 1px solid #FFF;
    height: 58px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 32px */
}

.nav-getstarted-btn {
    width: 187px;
    height: 58px;
    border-radius: 41px;
    background: linear-gradient(87deg, #49D043 -0.56%, #FFB912 119.91%);
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 32px */
}

.nav-hamburger {
    display: none;
}

@media (width<1280px) {
    .upskill-uiux {}
}

@media (width<1024px) {
    .upskill-uiux {
        .navbar {
            padding: 15px 22px 0 22px;
        }

        .nav-r-right {
            gap: 12px;
        }

        .nav-r-left {
            display: none;
        }

        .nav-register-btn.flex {
            display: none;
        }

        .nav-hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-hamburger {
            width: 48px;
            height: 48px;
        }

        .nav-hamburger img {
            width: 100%;
            height: 100%;
        }

        .nav-div {
            padding: 13px 22px 22px 17px;
        }
    }
}

@media (width<768px) {
    .upskill-uiux {
        .nav-div {
            height: 66px;
            padding: 13px 11.231px 13.125px 17px;
        }

        .nav-getstarted-btn {
            color: var(--Black, #00141B);
            font-family: "DM Sans";
            font-size: 14px;
            height: 48px;
            width: 136px;
        }

        .nav-hamburger {
            width: 32px;
            height: 32px;
        }


    }
}

@media (width<640px) {
    .upskill-uiux {}
}

@media (width<480px) {
    .upskill-uiux {
        .navbar {
            padding: 10px 8px 0 8px;
        }

        .nav-getstarted-btn {
            color: var(--Black, #00141B);
            font-family: "DM Sans";
            font-size: 11.886px;
            height: 38px;
            width: 106px;
        }
    }

}

@media (width<375px) {
    .upskill-uiux {}
}