.upskill-uiux {

    .main-section {
        max-width: 100%;
        padding: 64px 128px;
    }
}



@media (width<1180px) {
    .upskill-uiux {
        .main-section {
            padding: 64px 64px;
        }
    }
}

@media (width<980px) {
    .upskill-uiux {
        .main-section {
            padding: 64px 32px;
        }
    }
}

@media (width<780px) {
    .upskill-uiux {
        .main-section {
            padding: 64px 20px;
        }
    }

}

@media (width<480px) {


    .main-section {
        padding: 64px 10px;
    }
}